*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body{
  background-color: #001;
}

.App{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.contenedorCalculadora{
  height: 600px;
  width: 400px;
  padding: 10px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(145deg, #12c2e9, #c471ed)
}

.contenedor-botones{
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.fila {
  display: flex;
  justify-content: space-around;

}

@media screen and (max-width: 410px){
  .contenedorCalculadora{
    width: 100%;
  }

  .contenedor-botones{
    width: 100%;
  }
}